{% extends "package/pages/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <body>
     <!-- Single Page Header start -->
    <a class="nav-link active bg-gradient-dark text-white text-dark" href={% url "dashboard" %}>
            <i class="material-symbols-rounded opacity-5">dashboard</i>
            <span class="nav-link-text ms-1">Dashboard</span>
          </a>
    <!-- Single Page Header End -->

    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
            {% csrf_token %}
            {% for quotation in object_list %}
                <div class="quotation">
                    <p>{{ quotation}}</p>
                    <a class="ml-2" href="{% url "quotation-detail" quotation.id %}">Detail</a>
                </div>
            {% endfor %}
    </div>
        </div>
    </div>
    <!-- Products End -->
    </body>
{% endblock content %}
