{% extends 'extraordinary_package/base.html' %}
{% block content %}
    <!-- Single Page Header start -->
    <div class="container-fluid page-header py-5">
        <h1 class="text-center text-white display-6">Login</h1>
    </div>
    <!-- Single Page Header End -->

    <div class="container py-5">
        <div class="content-section">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group text-center">
                    {{ form.as_p }}
                </fieldset>
                <div class="form-group text-center">
                    <button class="btn btn-outline-info" type="submit">Login</button>
                </div>
            </form>
            <div class="border-top pt-3 text-center">
                <small class="text-muted">
                    Create an account? <a href="{% url 'user-register' %}">Sign up</a>
                </small>
            </div>
        </div>
    </div>
{% endblock content %}
